<!-- Generated template for the AddAdultModalComponent component -->
<ion-content class="main-view">
    <div class="overlay" (click)="dismiss()"></div>
    <div class="modal_content">

      <ion-row>
      
        <ion-col col-12>
          <button class="btn btn-orange btn-100" (click)="dismiss(2)" ion-button>  Legg til eksisterende Kolonial.no-bruker</button>
        </ion-col>

        <ion-col col-12>
        <p class="or-text">Eller...</p>
        </ion-col>

        <ion-col col-12>
          <button class="btn btn-green btn-100" (click)="dismiss(1)" ion-button>  Opprett ny barnebruker</button>
        </ion-col>
    
    </ion-row>
    <button class="btn btn-red btn-dismiss"(click)="dismiss()" ion-button>Avbryt</button>
  
  </div>
  </ion-content>
  