<!-- Generated template for the AddAdultModalComponent component -->
<ion-content class="main-view">
    <div class="overlay" (click)="dismiss()"></div>
    <div class="modal_content">

     <button class="btn btn-orange" (click)="dismiss(2)" ion-button>  Legg til eksisterende Kolonial.no-bruker</button>

     <button class="btn btn-green" (click)="dismiss(1)" ion-button>  Opprett ny barnebruker</button>

     <button class="btn btn-red"(click)="dismiss()" ion-button>Avbryt</button>
  
  </div>
  </ion-content>
  