page-login {

    // body
    .login-body {
        background-color: color($primary-profile, mork-aubergine);;
    }

  

    // header
    .logo-header {
        margin: -30px 0 50px 0;
        padding: 0 30px 0 30px;
        h2 {
            text-align: center;
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            font-size: 2rem; 
            color: #fff;
        }
    }

    .logo-img-header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

   

    // buttons
    .login-button {
        margin: 20px 0 20px 0;
        // box-shadow: -1px 2px 1px #888888;

    }
    
    .register-button {
        margin: 40px 0 20px 0;
        // box-shadow: -1px 2px 1px #888888;
    }

    .register-button:active {
        background-color: transparent;
        border: 1px solid color($primary-profile, gronn);;
    }

    .forgot-password {
        display:block;
        text-align:center;
        width:100%;
        color: #fff;
    }
    
}
