<ion-content padding class="login-body">
  <a class="click-back" (click)="back()" style="font-size: 25px">
    <ion-icon large name="close"></ion-icon>
  </a>


  <div class="logo-header">
      <img src="assets/imgs/Logo_Kolonial_Horisontal_Fullfarge_Negativ.png" class="logo-img-header"/>
      <h2>Din nye matbutikk, <br> rett i lomma.</h2>
  </div>
    
  <!--<ion-item>-->
    <ion-label class="label label-white">E-post</ion-label>
    <ion-input class="input input-white" type="email" [(ngModel)]="email"></ion-input>
  <!--</ion-item>-->

  <!--<ion-item>-->
    <ion-label class="label label-white">Passord</ion-label>
    <ion-input class="input input-white" type="password" id="password-input" [(ngModel)]="password"></ion-input>
    <button class="eye-button" *ngIf="!showPassword" ion-button large clear (click)="togglePassword()" bottom item-end>
      <ion-icon name="eye-off"></ion-icon>
    </button>
    <button class="eye-button" *ngIf="showPassword" ion-button large clear (click)="togglePassword()" bottom item-end>
      <ion-icon name="eye"></ion-icon>
    </button>
 <!-- </ion-item>-->

  <button full ion-button class="login-button btn" (click)="login()">Logg inn</button>
  <a class="forgot-password" (click)="forgotPassword()">Glemt passord?</a>


  <button full ion-button class="register-button btn" (click)="register()">Lag ny konto</button>


</ion-content>