page-register {

    // body
    .register-body {
    background-color: color($primary-profile, mork-aubergine);;
    }

    // header
    .logo-header {
        padding: 10px 30px 0 30px;
        h2 {
            text-align: center;
            color: #fff;
        }

        p {
            text-align: center;
            font-size: 1.4rem;
            color: color($colors, lys-varmgra);;

        }
    }
}
