page-child-creation {
    .btn-row-child-creation {
        margin-top: 2rem;
    }

    .add-picture-btn {
        background-color: transparent;
        border: 1px solid color($colors, varmgrå);;
        color: #000;
        height: 100px;
        width: 100px;        
        border-radius: 50%;

    }

    .constraints-box {
        height: 100% +3px;
        width: 100%;
        border: 1px solid #000;
    }
}
