<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SettingsPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let user of users" (click)="presentAdultModal(user)">
      {{user.name}}
    </button>
  </ion-list>
  <ion-list>
    <button ion-item *ngFor=" let child of children" (click)="goToChildSettingPage(child)">
      {{child.name}}
    </button>
  </ion-list>
 <button ion-button block (click)="goToCreateChildCreationPage()"> Legg til barnebruker</button>
 <ion-item no-lines> Eller...</ion-item>
 <button ion-button block (click)="addAdultUser()"> Legg til Kolonialbruker</button>
</ion-content>