page-settings {
    .round-img {
        width: 50px;
        height: 50px;
        float: left;
        overflow: hidden;
        border-radius: 50%;
        background-image: url("/assets/imgs/profileimage.png");
        background-size: cover;
        img {
            margin: 0 auto;
            min-height: 100%;
            height: auto;
            width: 100%;
        }
    }

    .nameplate {
        vertical-align:center;height:100%;width:100%;
        p {
            text-align: left;
            margin-left: 60px;
            font-size: 1.3em;
        }
    }
   
    .settings-body {
        background-color: color($colors, lys-varmgra);;
    }

    .users-container {
        background-color: color($colors, lys-varmgra);;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }

    .user-settings {
        margin: 0.2rem 0 0.2rem 0;
        background-color: red;
        background-color: #fff;
    }

    .new-kid-btn {
        margin-bottom: 20px;
    }
}
