// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.



$primary-profile: (
  primary: #000,
  eggeplomme: #ffa51e,
  mørk-aubergine: #413746,
  aubergine: #8255c3,
);

$colors: (
  primary: #000,
  frost: rgb(210,235,250), // Frost
  bringebær: rgb(235,85,75), // Bringebær
  sort-aubergine: rgb(45,40,50), // Sort aubergine
  varmgrå: rgb(215,215,210), // Varmgrå
  lys-varmgrå: rgb(240,240,236), // Lys varmgrå
  hvit: rgb(255,255,255), // Hvit
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$tabs-background: color($primary-profile, mørk-aubergine);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-icon-color-active: color($colors, hvit);;
$tabs-md-tab-color-inactive: red;


$tabs-ios-tab-icon-color: color($colors, lys-varmgrå);; 
$tabs-ios-tab-icon-color-inactive: color($colors, lys-varmgrå);;
$tabs-ios-tab-color-active: color($colors, lys-varmgrå);;
$tabs-ios-tab-color-inactive: color($colors, lys-varmgrå);;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
