page-child-setting {

    .token-text {
        background-color: color($colors, lys-varmgra);;
        padding: 0.8rem;
        border-radius: 5px; 
    }

    .btn-copy-token {
        width: 100%;
        padding: 1rem;
    }

    .title-small {
        font-size: 1.5rem; 
        margin-bottom: -7px;
    }

    .constraints-box {
        height: 100px;
    }

    .red-text {
        color:  color($colors, bringebar);;
    }

    .input-limits {
        padding-left: 15px;
    }

    .wrap-label {
        overflow-wrap: break-word;
        white-space: normal;
    }

   
}

