<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="goToSetting()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Min Familie</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <h1 class="title-with-border">Familiemedlemmene</h1>

  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngFor="let adult of adults |async ">
        
        <ion-avatar>
            <div class="round-img">
                <img class="profile-img" src="assets/imgs/profil.jpg">
          <!--<img class="profile-img" src="{{adult.image}}">-->
        </div>

        </ion-avatar>
        <p class="name-text">{{adult.first_name}}</p>

      </ion-col>
      
      <ion-col col-3 *ngFor="let child of children |async">
 
          <ion-avatar>

            <div class="round-img">
            <!--<img class="profile-img" src="{{child.img}}"> RIKTIG KODE, MÅ BARE TESTE BILDE-->
            <img class="profile-img" src="assets/imgs/profil.jpg">
          </div>

          </ion-avatar>
          <p class="name-text">{{child.name}}</p>
     

      </ion-col>
    
      <ion-col col-3>
        <button class="btn-orange btn btn-add-family" clear icon-only (click)=presentUserToAddModal() ion-button>
           +</button>

      </ion-col>

    </ion-row>
  </ion-grid>

  <h1 class="title-with-border">Ønsker fra familien</h1>
  

</ion-content>

