page-my-family {

    ion-title {
    $toolbar-md-title-font-size: 5rem;;
    $toolbar-md-title-text-color: red;;
    }
    // ion-row {
    //     white-space: nowrap;
    //     width: 50px;
    //     overflow-x: auto !important;
    //   }

    // name on familymember
    .name-text {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    // profil-picture
    .round-img {
        width: 50px;
        height: 50px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;

    }

    .profile-img {
        display: inline;
        margin: 0 auto;
        height: 140%;
        width: auto !important;
    }

    // add family button
    .btn-add-family {
        width: 40%;

    }

    // family - container
    .family-container {
        overflow: auto;
        white-space: nowrap;
    }

    .family-member{
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    }

    // wish
    .no-wish-text {
        font-size: 1.5rem;
    }

    .wish-img {
        height: 50px;
        padding: 0 !important;
    }

    .wish-price {
        font-size: 1.1rem;
    }

    .wish-name {
        width: 105px;
        overflow-wrap: break-word;
        //word-break: break-all;
        white-space: normal;
        font-size: 1.3rem;
    }

    .wish-size {
        font-size: 1rem;
    }

    .number-of-items {
        text-align: center;
        margin: auto;
        right: 0;
        left: 0;
        //display: block;
        margin-top: 7px;
    }

    .number-of-items-text {
        font-size: 1.3rem;
    }

    .wish-item {
        border-bottom: 1px solid color($colors, lys-varmgra);;
        border-top: none !important;
    }
   
    .cart {
        width: 100vw;
        height: 30px;
        background-color: color($colors, lys-varmgra);;
        left: 0;
        bottom: $tabs-md-tab-min-height;
        position: fixed;
        p {
            margin: 7px;
            margin-left: 16px;
            font-size: 1.1em;
            
            span {
                float: right;
                margin-right: 10px;
            }
        }
    }
}
