<!-- Generated template for the AddAdultModalComponent component -->
<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">

      <h1 class="title-modal">Kolonial.no-bruker</h1>
      <p class="text-modal">Legg til en eksisterende Kolonial.no-bruker som familemedlem i din Kolonial-familie.</p>

      <ion-label class="label add-user-label" >E-post</ion-label>
      <ion-input class="input add-user-input" type="text" [(ngModel)]="email" placeholder="Registert e-post til Kolonial.no-bruker"></ion-input>
    
    <ion-row no-padding class="add-adult-btn-row">
        <ion-col col-6>
      <button class="btn btn-green" id="addAdultBtn" (click)="dismiss()" ion-button color="primary">Legg til bruker</button>
    </ion-col>

    <ion-col col-6>
      <button class="btn btn-red btn-cancel" (click)="dismiss()" ion-button color="secondary">Avbryt</button>
    </ion-col>
  </ion-row>

</div>
</ion-content>
